body {
    background-color: #f5da90;
}
h1 {
      color: black;
      font-size: 25px;
      font-family: Arial;
    }
p {
      color: purple;
      font-size: 12px;
      font-family: Times New Roman;
    }
.title {
    font-family: Times New Roman;
    font-size: 35px;
    color: black;
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 30px;
}
#projects {
    justify-content: center;
    text-align: center;
}
#profiles {
    justify-content: center;
    text-align: center;
}
#description {
    justify-content: center;
    text-align: center;
}
.logo {
    width: 50px;
    margin: 5px;
    transition: all 0.5s;
}

.logo:hover {
    width: 60px;
}
