.bodycss {
    background-color: burlywood;
    text-align: center;
}

header {
    background-color: maroon;
    padding: 50px 50px 50px 50px;
    min-height: 70px;
    border-top: brown 10px solid;
    border-bottom: brown 10px solid;
    transition: all 0.5s;
}

.topleft {
    color: black;
    background-color: darkorange;
    font-size: 15px; 
    text-align: center;
    padding: 5px;
    float: left;
    border: black 7px solid;
}

header a{
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 5px;
    border: black 2px solid;
    background-color: rosybrown;
    transition: all 0.5s;
}

header ul {
    margin: 0;
    padding: 0;
}

header li{
    float: left;
    display: inline;
    padding: 0 10px 0 10px;
}

header nav {
    float: right;
    margin: 10px;
    padding: 10px;
    background-color: orange;
}

header .highlight, header .current a{
    font-weight: bold;
}

header a:hover {
    color: brown;
    font-weight: bold;
    font-size: 20px;
}

.Facts {
    color: blue;
    font-weight: bold;
    background-color: rgb(252, 229, 101);
    border-top: brown 10px solid;
    border-bottom: brown 10px solid;
    border-left: brown 20px solid;
    border-right: brown 20px solid;
}

.Interests {
    color: rgb(245, 0, 0);
    font-weight: bold;
    background-color: lightgreen;
    border-top: brown 10px solid;
    border-bottom: brown 20px solid;
    border-left: brown 20px solid;
    border-right: brown 20px solid;
}

.logo {
    width: 60px;
    margin-left: 5px;
    transition: all 0.5s;
}

.container2 {
    width: 100%;
    margin: auto;
    text-align: center;
    overflow: hidden;
}


#raytondesc {
    color: blue;
    background-color: beige;
    border: brown 10px solid;
}

#mydescription {
    border: brown 10px solid;
}

#forrecruiters {
    background-color: lightgreen;
    border: brown 10px solid;
}

#pwp {
    border-top: brown 10px solid;
    border-left: brown 10px solid;
    border-right: brown 10px solid;
    border-bottom: brown 20px solid
}

#profiles {
    background-color: rgb(252, 229, 101);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: flex-end;
    border-left: brown 10px solid;
    border-right: brown 10px solid;
}

#top {
    text-align: center;
    font-weight: bold;
    background-color: cyan;
    border-top: brown 10px solid;
    border-bottom: brown 10px solid;
    border-left: brown 20px solid;
    border-right: brown 20px solid;
}

.logo:hover {
    width: 70px;
}

#formex {
    background-color: beige;
    border-top: brown 20px solid;
    border-left: brown 10px solid;
    border-right: brown 10px solid;
}

p {
    color: blue;
    font-family: "Times New Roman", Times, serif;
}

#bsbody {
    background-color: beige;
}

th {
    font-weight: normal;
}